openapi: 3.0.1
info:
  title: BambooHR API Docs
  description: Your API, Your Way. ❤️
  contact:
    name: Designed by Chris
    url: https://www.github.com/datapointchris/
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
externalDocs:
  description: Connect with Chris
  url: https://www.linkedin.com/in/chris-birch/
servers:
  - url: http://ec2-54-144-151-41.compute-1.amazonaws.com
tags:
  - name: employee
    description: Employee directory
  - name: role
    description: Role directory
  - name: department
    description: Department directory
paths:
  /employee:
    get:
      tags:
        - employee
      summary: View employee directory
      description: View every employee in the entire organization
      operationId: ViewEmployees
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Employee"
        400:
          description: Invalid status value
          content: {}
    post:
      tags:
        - employee
      summary: Add a new employee to the store
      operationId: addEmployee
      requestBody:
        description: Employee to add to the directory
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Employee"
        required: true
      responses:
        405:
          description: Invalid input
          content: {}
      security:
        - employees_auth:
            - write:employee
            - read:employee
      x-codegen-request-body-name: body
  /employee/{id}:
    get:
      tags:
        - employee
      summary: Find employee by ID
      description: Returns a single employee
      operationId: getEmployeeById
      parameters:
        - name: ID
          in: path
          description: ID of employee to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Employee"
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: Employee not found
          content: {}
      security:
        - api_key: []
    # post:
    #   tags:
    #     - employee
    #   summary: Updates a pet in the store with form data
    #   operationId: updatePetWithForm
    #   parameters:
    #     - name: petId
    #       in: path
    #       description: ID of pet that needs to be updated
    #       required: true
    #       schema:
    #         type: integer
    #         format: int64
    #   requestBody:
    #     content:
    #       application/x-www-form-urlencoded:
    #         schema:
    #           properties:
    #             name:
    #               type: string
    #               description: Updated name of the pet
    #             status:
    #               type: string
    #               description: Updated status of the pet
    #   responses:
    #     405:
    #       description: Invalid input
    #       content: {}
    #   security:
    #     - petstore_auth:
    #         - write:pets
    #         - read:pets
    delete:
      tags:
        - employee
      summary: Deletes an employee
      operationId: deleteEmployee
      parameters:
        - name: api_key
          in: header
          schema:
            type: string
        - name: ID
          in: path
          description: employee ID to delete
          required: true
          schema:
            type: integer
            format: int64
      responses:
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: Employee not found
          content: {}
      security:
        - employeestore_auth:
            - write:employees
            - read:employees
  /role:
    get:
      tags:
        - role
      summary: Company role directory
      description: Returns a list of roles in the company
      operationId: getRoles
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Role"
      security:
        - api_key: []
  /role/{id}:
    get:
      tags:
        - role
      summary: Retrieves employees with role ID
      operationId: getEmployeesByRole
      parameters:
        - name: ID
          in: path
          description: ID of role
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Role"
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: Role not found
          content: {}
    delete:
      tags:
        - role
      summary: Delete role by ID
      description: Role cannot be deleted if held by current employees
      operationId: deleteRole
      parameters:
        - name: ID
          in: path
          description: ID of the role to be deleted
          required: true
          schema:
            type: integer
            format: int64
      responses:
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: Role not found
          content: {}
  /department:
    get:
      tags:
        - department
      summary: Company department directory
      description: Returns a list of departments in the company
      operationId: getDepartments
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Department"
      security:
        - api_key: []
  /department/{id}:
    get:
      tags:
        - department
      summary: Retrieves employees with department ID
      operationId: getEmployeesByDepartment
      parameters:
        - name: ID
          in: path
          description: ID of department
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Department"
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: Department not found
          content: {}
    delete:
      tags:
        - department
      summary: Delete department by ID
      description: department cannot be deleted if held by current employees
      operationId: deleteDepartment
      parameters:
        - name: ID
          in: path
          description: ID of the department to be deleted
          required: true
          schema:
            type: integer
            format: int64
      responses:
        400:
          description: Invalid ID supplied
          content: {}
        404:
          description: department not found
          content: {}
components:
  schemas:
    Employee:
      type: object
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        password:
          type: string
        phone:
          type: string
        userStatus:
          type: integer
          description: User Status
          format: int32
      xml:
        name: Employee
    Role:
      type: string
      properties:
        id:
          type: integer
          format: int64
        petId:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int32
        shipDate:
          type: string
          format: date-time
        status:
          type: string
          description: Order Status
          enum:
            - placed
            - approved
            - delivered
        complete:
          type: boolean
          default: false
      xml:
        name: Role
    Department:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: Department
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
  securitySchemes:
    petstore_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: http://petstore.swagger.io/oauth/dialog
          scopes:
            write:pets: modify pets in your account
            read:pets: read your pets
    api_key:
      type: apiKey
      name: api_key
      in: header
